/* Hero section css  */
.hero-bg{
    /* background-color: white; */
    background-image: url(../../assets/images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.min-h-screen {
    min-height: 80vh;
}
/* Hero Bottom Card css */
.hb-card{
    transition-duration: 0.5s;
    background-color: #19D3AE;
}
.hb-card:hover{
    background-color: #3A4256;
}
.hb-card-hover{
    transition-duration: 0.5s;
    background-color: #3A4256;
}
.hb-card-hover:hover{
    background-color: #19D3AE;
}
/* Exceptional Dental css  */
.exception-d-img img{
    width: 50vh;
    height: 60vh;
}
/* doctor/ get appointment  */
.doctor-bg{
    background-image: url(../../assets/images/appointment.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.doctor-bg img{
    width: 50vh;
    height: 60vh;
}